<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Models Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<meta charset="utf-8">


<body>
<header>
    <h1>Stock Model Web App</h1>
    <p>by Rasmusson Brothers, Inc.</p>
</header>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#buy">Buy</a>
    <a href="#sell">Sell</a>
    <a href="#health">Model Health</a>
    <input type="text" placeholder="Search..">
</div>

<br>

<section>
    <aside>
        <ul id="menu">
            <li>{{ ticker }}</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
            <li>ticker 1</li>
            <li>ticker 2</li>
        </ul>
    </aside>

    <div id="buy" class="container">
        <h1>Buy</h1>
        <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
        <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </div>

    <div id="sell" class="container">
        <h1>Sell</h1>
        <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
        <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </div>

    <div id="model-health" class="container">
        <h1>Model Health</h1>
        <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
        <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    </div>
</section>

<footer>

</footer>


</body>
</html>